version: "3.9"

services:
  waha:
    image: devlikeapro/waha
    container_name: waha
    env_file:
      - ../.env
    volumes:
      - ../sessions:/app/.sessions
    ports:
      - "3000:3000"
    tty: true
    stdin_open: true
    restart: unless-stopped

  bot:
    build: .
    container_name: waha-bot
    depends_on:
      - waha
    env_file:
      - .env
    restart: unless-stopped
